// Grid System
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-xs: 'only screen and (min-width: 0px)';
$breakpoint-small: 'only screen and (min-width: 451px)';
$breakpoint-medium: 'only screen and (min-width: 768px)';
$breakpoint-large: 'only screen and (min-width: 1008px)';
$breakpoint-xl: 'only screen and (min-width: 1300px)';

// Colors
$blue-bg: #577d91;
$black: #5f5f5f;
$white: #fefefe;
$grey: #a9a9a9;
$lightgrey: #e2dede;
$gold: rgba(188, 181, 130, 0.7);
$grey-bg: #eeeeee;

// Transitions
$btnTransitions: all 0.3s ease-in-out;
$menuTransition: all 0.8s cubic-bezier(0.66, 0.18, 0.57, 0.97);
